@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

*{
    border: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body{
    height: 95vh;
    display: grid;
    place-content: center;
    background-color: #191d24;
}

.btn{
    font-size: 22px;
    color: #fff;
    background-color: #463aa1;
    width: 250px;
    height: 60px;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 8px 5px -5px rgb(0,0,0,0.5);
    display: grid;
    place-content: center;
    transition: 0.2s;
}

.loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: btn-animation 1s ease infinite;
}

@keyframes btn-animation{
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}